a {
    color: #337ab7;
    text-decoration: none;
}

a:active {
    outline: 0;
}

a:hover {
    color: #23527c;
    outline: 0;
    text-decoration: underline;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

code {
    background-color: unset;
    color: unset;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    padding: 2px 4px;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h3 code {
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    display: block;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0 0 10px;
    overflow: auto;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
    vertical-align: top;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

#main {
    margin-left: 40px;
}

.doc {
    margin-left: 20px;
}

.linkblock {
    font-size: 16px;
    font-weight: bold;
}

.reflink {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 15px;
}
